<div>
    <table class="wp-list-table widefat fixed striped">
        <thead>
        <tr>
            {% for header in headers %}
                <th scope="col">{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% if data is empty %}
            <tr>
                <td colspan="{{ headers | length }}" style="text-align: center;">No entries found.</td>
            </tr>
        {% else %}
            {% for row in data %}
                <tr>
                    <td>{{ row[0]|default('N/A') }}</td>
                    <td>
                        <input
                                type="{{ row[2]|default("text") }}"
                                name="bex_{{ row[0]|lower|replace({'_': ''}) }}"
                                value="{{ row[1]|default('') }}"
                                class="regular-text"
                        />
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <p>
        <button class="button" id="bexCreateShipment">Create Order</button>

        {% if not shipmentCreated %}
            <button class="button" id="bexCreateShipment">Create Order</button>
        {% else %}
            <button class="button" id="bexCreateLabel">Create Label</button>
        {% endif %}
    </p>
</div>
